<div class="scene">
    <app-day-nav dayKey="kiss"></app-day-nav>
    <div class="dynamic-section fade-section" *ngIf ="missesMe">
        <div class="text-section">
            <p (click)="nextText()" [class.fade-in]="animateText">{{displayedText}}</p>
        </div>
        <div class="animated-section">
            <ng-lottie
        [options]="options"
        (animationCreated)="onAnimationCreated($event)"
        class="multi-animation"
      ></ng-lottie>
        </div>
    </div>

    <div class="kiss-section fade-section" *ngIf="wannaKiss">
        <p>Kiss Me then ?</p>
        <div class="buttons">
            <button class="yes" (click)="kissMe()">Yes</button>
            <button
                class="no"
                (mouseenter)="dodgeNo()"
                (click)="dodgeNo()"
                [style.--no-x.px]="noX"
                [style.--no-y.px]="noY"
            >
                No
            </button>
        </div>
    </div>

    <div class="kiss-animation fade-section" *ngIf="kissesMe">
        <ng-lottie
        [options]="options"
        (animationCreated)="onAnimationCreated($event)"
        class="multi-animation"
      ></ng-lottie>
    </div>
</div>
